@model GerenciadorDeViagem.WEB.Models.Usuario

@{
    ViewData["Title"] = "Datelhes usuario";
}
<style>
    .botao {
        width: 100%;
    }
</style>
<h3>Detalhes do usuário</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeUsuario)
        </dd>
    </dl>
</div>
<br />
<div class="form-group">
    <a asp-action="Index" asp-route-matricula="@ViewBag.Matricula"><button type="button" class="btn btn-info form-control botao">Voltar</button></a>
</div>
<br />
<form asp-action="DeletarUsuario" asp-controller="UsuarioAdmin" method="post">
    <input type="hidden" asp-for="Matricula" />
    <button class="btn btn-info form-control botao" type="submit">Deletar</button>
</form>